.App {
  text-align: center;
}

.flexDisplay{
  display:flex;
  flex-flow: row wrap;
}

.card{
  width: 150px;
  min-height: 150px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 10px;
}
